APP_NAME=TightPress
APP_URL=http://localhost:8080
APP_THEME=twentytwentythree
APP_DEBUG=true
APP_TIMEZONE=Asia/Tokyo

DB_DRIVER=sqlite
DB_PATH=./database/tightpress.sqlite
DB_PREFIX=tp_

# MySQL / PostgreSQL を使う場合は DB_DRIVER を変更して以下を設定
# DB_DRIVER=mysql
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_NAME=tightpress
# DB_USER=root
# DB_PASS=
# DB_CHARSET=utf8mb4
